<a href="https://colab.research.google.com/github/InternetSocietyManitobaChapter/JupyterNotebook_NorthEndConnect/blob/main/NorthEndConnect(withWebURLPath).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [56]:
# Read the North End Connect data file

import io
import requests
url="https://raw.githubusercontent.com/InternetSocietyManitobaChapter/JupyterNotebook_NorthEndConnect/main/northendconnect%20(3).csv"
s=requests.get(url).content
northEndConnect=pd.read_csv(io.StringIO(s.decode('utf-8')))
#print(northEndConnect) 

#NorthEndConnect = pd.read_csv("northendconnect5.csv")

In [57]:
# Display a feww rows of the data

display(northEndConnect.head(10))

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED UPLOAD SPEED,CONTRACTED DATA CAP,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN
5,765,2015-05-19 10:00:21,49.897501,-97.136397,10.53,0.70,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020024.00,NaN
6,831,2015-05-16 10:00:30,49.946880,-97.058317,5.79,0.56,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020142.02,NaN
7,972,2015-05-16 10:00:33,49.878963,-97.158439,5.79,0.81,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020015.00,NaN
8,1110,2015-05-19 10:00:23,49.846671,-97.257653,1.88,1.81,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
9,1147,2015-05-20 10:01:16,49.937924,-97.118305,10.58,2.76,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020551.00,NaN

In [58]:
northEndConnect.shape

(19772, 31)

In [59]:
# From the output above, it is seen that ENTIRELY blank rows occur at even number indexes
# These ENTIRELY BLANK rows will be contributing to the number of rows of data in the file.
# Besides blank rows are indicative of missing data so need to be removed to avoid errors.

# Remove these ENTIRELY blank rows, and save the changes in the data frame

northEndConnect_RemoveALLBlankRows = northEndConnect.dropna(how = 'all')

In [31]:
northEndConnect_RemoveALLBlankRows

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED UPLOAD SPEED,CONTRACTED DATA CAP,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,2023-03-05 16:56:22,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19768,1651951,2023-03-05 19:35:40,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19769,1652055,2023-03-06 03:23:27,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19770,1652064,2023-03-06 04:14:49,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN
19771,1652068,2023-03-06 04:39:18,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN

In [32]:
# Reset the index of the data set and save the change in place

northEndConnect_RemoveALLBlankRows.reset_index(inplace = True)

In [33]:
northEndConnect_RemoveALLBlankRows

,index,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,...,CONTRACTED UPLOAD SPEED,CONTRACTED DATA CAP,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA
0,0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN
1,1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
2,2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN
3,3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN
4,4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,19767,1651904,2023-03-05 16:56:22,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19768,19768,1651951,2023-03-05 19:35:40,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19769,19769,1652055,2023-03-06 03:23:27,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19770,19770,1652064,2023-03-06 04:14:49,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN
19771,19771,1652068,2023-03-06 04:39:18,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN

In [34]:
# Drop the index column as it is not useful and save the change in place

northEndConnect_RemoveALLBlankRows.drop(columns = ['index'], inplace = True)

In [35]:
northEndConnect_RemoveALLBlankRows

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED UPLOAD SPEED,CONTRACTED DATA CAP,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,2023-03-05 16:56:22,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19768,1651951,2023-03-05 19:35:40,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19769,1652055,2023-03-06 03:23:27,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W
19770,1652064,2023-03-06 04:14:49,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN
19771,1652068,2023-03-06 04:39:18,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN

In [36]:
# Save the dataset into another aptly named variable

northEndConnectData = northEndConnect_RemoveALLBlankRows

In [37]:
# Display the names of the columns of the dataset

northEndConnectData.columns

Index(['TEST ID', 'TEST DATE / UTC HOUR', 'GEO LATITUDE', 'GEO LONGITUDE',
       'DOWNLOAD SPEED', 'UPLOAD SPEED', 'JITTER', 'LATENCY', 'PACKET LOSS',
       'MOBILE TEST', 'ISP', 'CLIENT IP', 'CLIENT CITY', 'CLIENT PROVINCE',
       'CLIENT POSTAL CODE', 'AS NUMBER', 'IPV6 SUPPORTED', 'DNSSEC SUPPORTED',
       'TEST SERVER', 'browser_test_url', 'CONTRACTED DOWNLOAD SPEED',
       'CONTRACTED UPLOAD SPEED', 'CONTRACTED DATA CAP',
       'CONTRACTED MONTHLY COST', 'SERVICE TYPE', 'USER SATISFACTION',
       'CONNECTION TYPE', 'USER COMMENTS', 'HEATMAP_MUNICIPALITY',
       'HEATMAP_CENSUS_TRACTS', 'HEATMAP_PROJECT_AREA'],
      dtype='object')

In [38]:
northEndConnectData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19772 entries, 0 to 19771
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TEST ID                    19772 non-null  int64
 1   TEST DATE / UTC HOUR       19772 non-null  object
 2   GEO LATITUDE               19772 non-null  float64
 3   GEO LONGITUDE              19772 non-null  float64
 4   DOWNLOAD SPEED             19772 non-null  float64
 5   UPLOAD SPEED               19772 non-null  float64
 6   JITTER                     11722 non-null  float64
 7   LATENCY                    11722 non-null  float64
 8   PACKET LOSS                11722 non-null  float64
 9   MOBILE TEST                19772 non-null  bool
 10  ISP                        19771 non-null  object
 11  CLIENT IP                  19772 non-null  object
 12  CLIENT CITY                19717 non-null  object
 13  CLIENT PROVINCE            19694 non-null  object
 14  CLIENT POSTAL CODE         19746 non-null  object
 15  AS NUMBER                  19751 non-null  object
 16  IPV6 SUPPORTED             19772 non-null  bool
 17  DNSSEC SUPPORTED           19772 non-null  bool
 18  TEST SERVER                19772 non-null  object
 19  browser_test_url           12856 non-null  object
 20  CONTRACTED DOWNLOAD SPEED  3686 non-null   object
 21  CONTRACTED UPLOAD SPEED    2329 non-null   object
 22  CONTRACTED DATA CAP        1504 non-null   object
 23  CONTRACTED MONTHLY COST    3250 non-null   object
 24  SERVICE TYPE               4253 non-null   object
 25  USER SATISFACTION          3278 non-null   float64
 26  CONNECTION TYPE            1505 non-null   object
 27  USER COMMENTS              4930 non-null   object
 28  HEATMAP_MUNICIPALITY       19772 non-null  object
 29  HEATMAP_CENSUS_TRACTS      19772 non-null  float64
 30  HEATMAP_PROJECT_AREA       946 non-null    object
dtypes: bool(3), float64(9), int64(1), object(18)
memory usage: 4.3+ MB

In [39]:
# Display the percentage of missing values in each column/field of data

northEndConnectData.isnull().sum()/len(northEndConnectData)*100

TEST ID                       0.000000
TEST DATE / UTC HOUR          0.000000
GEO LATITUDE                  0.000000
GEO LONGITUDE                 0.000000
DOWNLOAD SPEED                0.000000
UPLOAD SPEED                  0.000000
JITTER                       40.714141
LATENCY                      40.714141
PACKET LOSS                  40.714141
MOBILE TEST                   0.000000
ISP                           0.005058
CLIENT IP                     0.000000
CLIENT CITY                   0.278171
CLIENT PROVINCE               0.394497
CLIENT POSTAL CODE            0.131499
AS NUMBER                     0.106211
IPV6 SUPPORTED                0.000000
DNSSEC SUPPORTED              0.000000
TEST SERVER                   0.000000
browser_test_url             34.978758
CONTRACTED DOWNLOAD SPEED    81.357475
CONTRACTED UPLOAD SPEED      88.220716
CONTRACTED DATA CAP          92.393283
CONTRACTED MONTHLY COST      83.562614
SERVICE TYPE                 78.489784
USER SATISFACTION            83.420999
CONNECTION TYPE              92.388226
USER COMMENTS                75.065750
HEATMAP_MUNICIPALITY          0.000000
HEATMAP_CENSUS_TRACTS         0.000000
HEATMAP_PROJECT_AREA         95.215456
dtype: float64

In [40]:
# From the above line, it can be seen that the missing values in the columns
# CONTRACTED DOWNLOAD SPEED, CONTRACTED UPLOAD SPEED, CONTRACTED DATA CAP, CONTRACTED MONTHLY COST, 
# SERVICE TYPE, USER SATISFACTION, CONNECTION TYPE, USER COMMENTS and HEATMAP_PROJECT_AREA
# ARE MORE THAN FIFTY PERCENT (50%). Infact they are in their 70s, 80s, and 90 PERCENTS.
# These columns are CANDIDATES FOR REMOVAL.

#### Split the TEST DATE/UTC HOUR column into two columns.One holding TEST DATE and the other UTC HOUR

In [41]:
northEndConnectData_TimeSplit = northEndConnectData
testDate = []
utcHour = []

for value in northEndConnectData['TEST DATE / UTC HOUR']:
    spaceIndex = value.index(" ")
    dateData = value[:spaceIndex]
    timeData = value[spaceIndex:]
    testDate.append(dateData)
    utcHour.append(timeData)
    
northEndConnectData_TimeSplit["TEST DATE"] = testDate
northEndConnectData_TimeSplit["TEST TIME"] = utcHour

In [42]:
northEndConnectData_TimeSplit

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA,TEST DATE,TEST TIME
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN,2015-05-23,10:00:13
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN,2015-05-20,10:01:05
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN,2015-05-19,10:00:28
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN,2015-05-24,10:00:08
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN,2015-05-19,10:00:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,2023-03-05 16:56:22,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,16:56:22
19768,1651951,2023-03-05 19:35:40,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,19:35:40
19769,1652055,2023-03-06 03:23:27,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-06,03:23:27
19770,1652064,2023-03-06 04:14:49,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:14:49
19771,1652068,2023-03-06 04:39:18,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:39:18

In [43]:
northEndConnect_SplitDate = northEndConnectData_TimeSplit

year = []
month = []
day = []

for value in northEndConnect_SplitDate["TEST DATE"]:
    first_delimiter = value.index("/")
    second_delimiter = value.index("/", first_delimiter+1)
    monthOfDate = value[:first_delimiter]
    dayOfDate = value[first_delimiter+1:second_delimiter]
    yearOfDate = value[-4:]
    
    day.append(dayOfDate)
    month.append(monthOfDate)
    year.append(yearOfDate)
    
#northEndConnect_SplitDate["YEAR"] = year
#northEndConnect_SplitDate["MONTH"] = month
#northEndConnect_SplitDate["DAY"] = day
northEndConnect_SplitDate.insert(2, "YEAR", year, True)
northEndConnect_SplitDate.insert(3, "MONTH", month, True)
northEndConnect_SplitDate.insert(4, "DAY", day, True)

ValueError: ignored

In [44]:
northEndConnect_SplitDate

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA,TEST DATE,TEST TIME
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN,2015-05-23,10:00:13
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN,2015-05-20,10:01:05
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN,2015-05-19,10:00:28
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN,2015-05-24,10:00:08
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN,2015-05-19,10:00:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,2023-03-05 16:56:22,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,16:56:22
19768,1651951,2023-03-05 19:35:40,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,19:35:40
19769,1652055,2023-03-06 03:23:27,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-06,03:23:27
19770,1652064,2023-03-06 04:14:49,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:14:49
19771,1652068,2023-03-06 04:39:18,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:39:18

In [45]:
# Having split the "TEST DATE / UTC TIME" column into the YEAR, MONTH, DAY, and TIME columns, we can
# Drop the "TEST DATE / UTC TIME" column.

northEndConnect_SplitDate_dropTESTDATE_UTCHOUR = northEndConnect_SplitDate.drop(columns = ['TEST DATE / UTC HOUR'])

In [46]:
northEndConnect_SplitDate_dropTESTDATE_UTCHOUR

,TEST ID,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,ISP,...,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA,TEST DATE,TEST TIME
0,261,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN,2015-05-23,10:00:13
1,284,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN,2015-05-20,10:01:05
2,622,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,TeraGo Networks,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN,2015-05-19,10:00:28
3,701,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,MTS Allstream,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN,2015-05-24,10:00:08
4,707,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN,2015-05-19,10:00:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,Bell Canada,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,16:56:22
19768,1651951,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,Shaw Communications Inc.,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,19:35:40
19769,1652055,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,Shaw Communications Inc.,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-06,03:23:27
19770,1652064,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,Shaw Communications Inc.,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:14:49
19771,1652068,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,Shaw Communications Inc.,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:39:18

In [47]:
# Display the contents of the ISP column

# Retrieve the contents of the ISP column as a DataFrame.
ispColumn = northEndConnect_SplitDate_dropTESTDATE_UTCHOUR[["ISP"]]

# Sort the contents of the obtained ISP column in ascending order. Save the change in the same DataFrame object.
ispColumn.sort_values(by = ['ISP'], inplace = True, ascending = True) 

# Display the the Unique entries of the ISP column.
ispColumn['ISP'].unique()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

array(['ACN', 'Access Communications  Co-operative Limited',
       'Access Communications Co-operative Limited',
       'Akamai Technologies, Inc.', 'Alberta Health Services',
       'Alentus Corporation', 'Altima Telecom', 'Amanah Tech',
       'Amanah Tech Inc.', 'Amazon Technologies Inc.', 'Amazon.com, Inc.',
       'BH Telecom Corp.', 'BIGPIPE', 'Bell Canada', 'Bell MTS',
       'Bell MTS Data Centres G.P', 'Bell Mobility', 'Bell Mobility, Inc',
       'Business Development Bank of Canada', 'CIBC World Markets',
       'CIK Telecom', 'CIK Telecom INC', 'Canada Drugs',
       'Cipherkey Exchange Corp.', 'City of Winnipeg', 'Cloudflare, Inc.',
       'Cogecodata', 'Cogent Communications', 'Commstream Communications',
       'Commstream Communications Inc', 'Corridor Communications',
       'Corridor Communications, INC.', 'Corus Entertainment Inc',
       'Daemon Defense Systems', 'DataCamp Limited', 'DigitalOcean, LLC',
       'Epic Information Solutions', 'Fastnet Communications',
       'Full Throttle Networks', 'Full Throttle Networks Inc.',
       'GTCOMM - GloboTech Communications', 'GloboTech Communications',
       'Google, LLC', 'Health Sciences Center', 'Hextet Systems',
       'High Speed Crow', 'Hurricane Electric IPv6 tunnel broker',
       'Hutterian Broadband Network Inc', 'I Voice Comm Telnetwork',
       'Infotec Manitoba', 'Ipxo Limited', 'KMTS Internet', 'LES.NET',
       'MERLIN', 'MRNet', 'MTS Allstream', 'MTS Allstream Inc.',
       'MTS Data Centres', 'MTS Inc', 'MTS Inc.',
       'Manitoba First Nations Education Resource Centre',
       'Manitoba First Nations Education Resource Centre Inc.',
       'Manitoba Hydro', 'Manitoba Hydro International LTD',
       'Manitoba Hydro Telecom', 'Manitoba NetSet', 'Net1 GmbH',
       'Netminders Data Solution', 'NoLimits Internet Solutions',
       'OVH Hosting', 'Oxio', 'Packet Exchange Limited', 'PacketHub S.A.',
       'Performive LLC', 'Postmedia Network', 'Postmedia Network Inc',
       'Powerhouse Management', 'Prairie-Sky Wireless',
       'Primus Telecommunications Canada Inc.', 'Questzone.Net, Inc.',
       'RBC Convention Centre Winnipeg', 'Radiant Communications Canada',
       'Radiant Communications Canada Ltd.', 'Rainy Day Software Corp.',
       'Red River College of Applied Arts',
       'Red River College of Applied Arts, Science and Tec',
       'Rogers Cable', 'Rogers Communications Canada Inc.',
       'Saskatchewan Telecommunications', 'Shared Services Canada',
       'Shaw Communications', 'Shaw Communications Inc.',
       'Shaw Telecom G.P.', 'South Winnipeg Technical Centre',
       'Space Exploration Technologies Corporation', 'SpaceX Services',
       'SpaceX Starlink', 'Stafford Communications, Inc.', 'SurfEasy Inc',
       'Swift High Speed.com', 'T. Grand Networks Inc.', 'TBayTel',
       'TELUS Communications Inc', 'TELUS Communications Inc.',
       'Tefincom S.A.', 'TekSavvy Solutions', 'TekSavvy Solutions, Inc.',
       'Telus Communications', 'TeraGo Networks', 'TeraGo Networks Inc',
       'TeraGo Networks Inc.', 'The Exchange Global Server Center',
       'The Winnipeg School Division No. 1',
       'Total Server Solutions L.L.C', 'Total Server Solutions L.L.C.',
       'University of Manitoba', 'University of Ottawa',
       'University of Winnipeg', 'VMedia', 'VOI NET INC.', 'VPN',
       'Verizon Business', 'ViaNetTV Inc', 'Voi Networks',
       'Voyageur Internet', 'Voyageur Internet Inc',
       'WiBand Communications', 'Xplornet Communications',
       'Xplornet Communications Inc', 'Xplornet Communications Inc.',
       'Yesup Ecommerce Solutions', 'Your.org', nan], dtype=object)

In [48]:
# From the Unique entries of the ISP, it is obvious that there are discrepancies in some entries.
# Some correction is needed.

## Checking and Correcting the ISP names for Consistency and Uniformity.....

In [49]:
northEndConnect1 = northEndConnect_SplitDate_dropTESTDATE_UTCHOUR

for i in range(len(northEndConnect1)):
    if(northEndConnect1.loc[i, 'ISP'] == 'Access Communications  Co-operative Limited'):
        northEndConnect1 = northEndConnect1.replace('Access Communications  Co-operative Limited', 
                                                   'Access Communications Co-operative Limited')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Amanah Tech'):
        northEndConnect1 = northEndConnect1.replace('Amanah Tech', 'Amanah Tech Inc.')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Amazon.com, Inc.'):
        northEndConnect1 = northEndConnect1.replace('Amazon.com, Inc.', 'Amazon Technologies Inc.')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Bell Mobility, Inc'):
        northEndConnect1 = northEndConnect1.replace('Bell Mobility, Inc', 'Bell Mobility')  
    
    elif(northEndConnect1.loc[i, 'ISP'] == 'CIK Telecom INC'):
        northEndConnect1 = northEndConnect1.replace('CIK Telecom INC', 'CIK Telecom')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Commstream Communications Inc'):
        northEndConnect1 = northEndConnect1.replace('Commstream Communications Inc', 'Commstream Communications')    
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Corridor Communications, INC.'):
        northEndConnect1 = northEndConnect1.replace('Corridor Communications, INC.', 'Corridor Communications') 
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Full Throttle Networks Inc.'):
        northEndConnect1 = northEndConnect1.replace('Full Throttle Networks Inc.', 'Full Throttle Networks')
        
               
    elif(northEndConnect1.loc[i, 'ISP'] == 'Shaw Communications Inc.'):
        northEndConnect1 = northEndConnect1.replace('Shaw Communications Inc.', 'Shaw Communications')     
    
    else:    
        pass

In [50]:
for i in range(len(northEndConnect1)):
    if(northEndConnect1.loc[i, 'ISP'] == 'MTS Allstream Inc.'):
        northEndConnect1 = northEndConnect1.replace('MTS Allstream Inc.', 'MTS Allstream')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'MTS Inc.'):
        northEndConnect1 = northEndConnect1.replace('MTS Inc.', 'MTS Inc')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Manitoba First Nations Education Resource Centre Inc.'):
        northEndConnect1 = northEndConnect1.replace('Manitoba First Nations Education Resource Centre Inc.', 
                                                    'Manitoba First Nations Education Resource Centre')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Manitoba Hydro International LTD') or (northEndConnect1.loc[i, 'ISP'] == 'Manitoba Hydro Telecom'):
        northEndConnect1 = northEndConnect1.replace('Manitoba Hydro International LTD', 'Manitoba Hydro') 
        northEndConnect1 = northEndConnect1.replace('Manitoba Hydro Telecom', 'Manitoba Hydro')
    
    elif(northEndConnect1.loc[i, 'ISP'] == 'Postmedia Network Inc'):
        northEndConnect1 = northEndConnect1.replace('Postmedia Network Inc', 'Postmedia Network')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Red River College of Applied Arts'):
        northEndConnect1 = northEndConnect1.replace('Red River College of Applied Arts', 
                                                    'Red River College of Applied Arts, Science and Tec')    
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Rogers Communications Canada Inc.'):
        northEndConnect1 = northEndConnect1.replace('Rogers Communications Canada Inc.', 'Rogers Cable') 
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Shaw Communications Inc.') or (northEndConnect1.loc[i, 'ISP'] == 'Shaw Telecom G.P.'):
        northEndConnect1 = northEndConnect1.replace('Shaw Communications Inc.', 'Shaw Communications')
        northEndConnect1 = northEndConnect1.replace('Shaw Telecom G.P.', 'Shaw Communications')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Space Exploration Technologies Corporation') or (northEndConnect1.loc[i, 'ISP'] == 'SpaceX Services'):
        northEndConnect1 = northEndConnect1.replace('Space Exploration Technologies Corporation', 'SpaceX Starlink')
        northEndConnect1 = northEndConnect1.replace('SpaceX Services', 'SpaceX Starlink')
    
    else:    
        pass

In [51]:
for i in range(len(northEndConnect1)):
    if(northEndConnect1.loc[i, 'ISP'] == 'TELUS Communications Inc') or (northEndConnect1.loc[i, 'ISP'] == 'TELUS Communications Inc.'):
        northEndConnect1 = northEndConnect1.replace('TELUS Communications Inc', 'Telus Communications')
        northEndConnect1 = northEndConnect1.replace('TELUS Communications Inc.', 'Telus Communications')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'TeraGo Networks Inc.') or (northEndConnect1.loc[i, 'ISP'] == 'TeraGo Networks Inc'):
        northEndConnect1 = northEndConnect1.replace('TeraGo Networks Inc.', 'TeraGo Networks') 
        northEndConnect1 = northEndConnect1.replace('TeraGo Networks Inc', 'TeraGo Networks')    
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Total Server Solutions L.L.C'):
        northEndConnect1 = northEndConnect1.replace('Total Server Solutions L.L.C', 'Total Server Solutions L.L.C.')
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'VOI NET INC.'):
        northEndConnect1 = northEndConnect1.replace('VOI NET INC.', 'Voi Networks')
        
        
    elif(northEndConnect1.loc[i, 'ISP'] == 'Voyageur Internet Inc'):
        northEndConnect1 = northEndConnect1.replace('Voyageur Internet Inc', 'Voyageur Internet')
        
    
    elif(northEndConnect1.loc[i, 'ISP'] == 'Xplornet Communications Inc') or (northEndConnect1.loc[i, 'ISP'] == 'Xplornet Communications Inc.'):
        northEndConnect1 = northEndConnect1.replace('Xplornet Communications Inc', 'Xplornet Communications')
        northEndConnect1 = northEndConnect1.replace('Xplornet Communications Inc.', 'Xplornet Communications')
    
    else:    
        pass
    
values1 = northEndConnect1[['ISP']]  
values1.sort_values(by=['ISP'], inplace = True, ascending = True)
print(values1['ISP'].nunique())
print(northEndConnect1.shape)
values1['ISP'].unique()

103
(19772, 32)

array(['ACN', 'Access Communications Co-operative Limited',
       'Akamai Technologies, Inc.', 'Alberta Health Services',
       'Alentus Corporation', 'Altima Telecom', 'Amanah Tech Inc.',
       'Amazon Technologies Inc.', 'BH Telecom Corp.', 'BIGPIPE',
       'Bell Canada', 'Bell MTS', 'Bell MTS Data Centres G.P',
       'Bell Mobility', 'Business Development Bank of Canada',
       'CIBC World Markets', 'CIK Telecom', 'Canada Drugs',
       'Cipherkey Exchange Corp.', 'City of Winnipeg', 'Cloudflare, Inc.',
       'Cogecodata', 'Cogent Communications', 'Commstream Communications',
       'Corridor Communications', 'Corus Entertainment Inc',
       'Daemon Defense Systems', 'DataCamp Limited', 'DigitalOcean, LLC',
       'Epic Information Solutions', 'Fastnet Communications',
       'Full Throttle Networks', 'GTCOMM - GloboTech Communications',
       'GloboTech Communications', 'Google, LLC',
       'Health Sciences Center', 'Hextet Systems', 'High Speed Crow',
       'Hurricane Electric IPv6 tunnel broker',
       'Hutterian Broadband Network Inc', 'I Voice Comm Telnetwork',
       'Infotec Manitoba', 'Ipxo Limited', 'KMTS Internet', 'LES.NET',
       'MERLIN', 'MRNet', 'MTS Allstream', 'MTS Data Centres', 'MTS Inc',
       'Manitoba First Nations Education Resource Centre',
       'Manitoba Hydro', 'Manitoba NetSet', 'Net1 GmbH',
       'Netminders Data Solution', 'NoLimits Internet Solutions',
       'OVH Hosting', 'Oxio', 'Packet Exchange Limited', 'PacketHub S.A.',
       'Performive LLC', 'Postmedia Network', 'Powerhouse Management',
       'Prairie-Sky Wireless', 'Primus Telecommunications Canada Inc.',
       'Questzone.Net, Inc.', 'RBC Convention Centre Winnipeg',
       'Radiant Communications Canada',
       'Radiant Communications Canada Ltd.', 'Rainy Day Software Corp.',
       'Red River College of Applied Arts, Science and Tec',
       'Rogers Cable', 'Saskatchewan Telecommunications',
       'Shared Services Canada', 'Shaw Communications',
       'South Winnipeg Technical Centre', 'SpaceX Starlink',
       'Stafford Communications, Inc.', 'SurfEasy Inc',
       'Swift High Speed.com', 'T. Grand Networks Inc.', 'TBayTel',
       'Tefincom S.A.', 'TekSavvy Solutions', 'TekSavvy Solutions, Inc.',
       'Telus Communications', 'TeraGo Networks',
       'The Exchange Global Server Center',
       'The Winnipeg School Division No. 1',
       'Total Server Solutions L.L.C.', 'University of Manitoba',
       'University of Ottawa', 'University of Winnipeg', 'VMedia', 'VPN',
       'Verizon Business', 'ViaNetTV Inc', 'Voi Networks',
       'Voyageur Internet', 'WiBand Communications',
       'Xplornet Communications', 'Yesup Ecommerce Solutions', 'Your.org',
       nan], dtype=object)

In [52]:
 northEndConnect1

,TEST ID,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,ISP,...,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA,TEST DATE,TEST TIME
0,261,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN,2015-05-23,10:00:13
1,284,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN,2015-05-20,10:01:05
2,622,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,TeraGo Networks,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN,2015-05-19,10:00:28
3,701,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,MTS Allstream,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN,2015-05-24,10:00:08
4,707,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN,2015-05-19,10:00:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19767,1651904,49.919200,-97.126300,47.82,4.50,0.17,39.13,7.27,False,Bell Canada,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,16:56:22
19768,1651951,49.919200,-97.126300,219.40,10.76,1.22,67.06,2.96,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-05,19:35:40
19769,1652055,49.919200,-97.126300,81.88,6.76,0.99,32.72,1.45,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020041.00,R2W,2023-03-06,03:23:27
19770,1652064,49.951400,-97.113300,24.87,17.17,28.61,64.65,0.00,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:14:49
19771,1652068,49.951400,-97.113300,510.65,102.42,3.43,28.82,0.01,False,Shaw Communications,...,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020553.00,NaN,2023-03-06,04:39:18

In [53]:
# Replacing the DataFrame with that having the Editted and Cleaned ISP names.

northEndConnect_SplitDate_dropTESTDATE_UTCHOUR = northEndConnect1

In [54]:
# There is need to check that the test was performed for each IP Address at MOST
# ONCE FOR EACH MONTH IN EACH YEAR. EACH IP ADDRESS IN A MONTH MUST BE TESTED ONLY ONCE.
# Where there is a test of more than one per month for each IP Adrress, ONE RECORD WILL BE DELETED

northEndConnect_dropREPEATED_DAILYTEST = northEndConnect_SplitDate_dropTESTDATE_UTCHOUR.drop_duplicates(subset = ['CLIENT IP', 'YEAR', 'MONTH'])

KeyError: ignored

In [ ]:
northEndConnect_dropREPEATED_DAILYTEST

In [ ]:
# Resetting the Index of the Dataframe

northEndConnect_dropREPEATED_DAILYTEST.reset_index(inplace = True)

In [ ]:
northEndConnect_dropREPEATED_DAILYTEST

In [ ]:
# Drop / Remove the column titled 'index' AND SAVE IT IN THE SAME DATAFRAME OBJECT.

northEndConnect_dropREPEATED_DAILYTEST.drop(labels = ['index'], axis = 1, inplace = True)

In [ ]:
northEndConnect_dropREPEATED_DAILYTEST

In [ ]:
# creating a CSV file

northEndConnect_dropREPEATED_DAILYTEST.to_csv("northEndConnect_dropREPEATED_DAILYTEST.csv")

In [ ]:
# Display information about the DataFrame.

northEndConnect_dropREPEATED_DAILYTEST.info()

In [ ]:
# Check the percentage of missing data in the new dataframe

northEndConnect_dropREPEATED_DAILYTEST.isnull().sum()/len(northEndConnect_dropREPEATED_DAILYTEST)*100

## Filter for City values that have Winnipeg. Filter from 2019 upwards

In [ ]:
WinnipegArea = northEndConnect_dropREPEATED_DAILYTEST[northEndConnect_dropREPEATED_DAILYTEST['CLIENT CITY'].str.contains('Winnipeg', case = False, na = False)]

In [ ]:
WinnipegArea

In [ ]:
# Checking to make sure only Client City names containing Winnipeg are retrieved

WinnipegArea['CLIENT CITY'].unique()

In [ ]:
# Extracting Winnipeg Area data from 2019 upwards

WinnipegArea_from2019 = WinnipegArea[WinnipegArea['YEAR'] >= '2019'] 

# Reset the index. Save change in same DataFrame object.
WinnipegArea_from2019.reset_index(inplace = True)

# Delete the column titled "index".Save change in same DataFrame object.
WinnipegArea_from2019.drop(columns = ['index'], inplace = True)

In [ ]:
WinnipegArea_from2019

In [ ]:
WinnipegArea_from2019.isnull().sum()/len(WinnipegArea_from2019)*100

In [ ]:
# dropping the columns with percentage missing values greater than fifty (50) percent

WinnipegArea_from2019_ColumnsRemoved = WinnipegArea_from2019.drop(columns = ['CONTRACTED DOWNLOAD SPEED', 'CONTRACTED UPLOAD SPEED', 'CONTRACTED DATA CAP',
                                                 'CONTRACTED MONTHLY COST', 'SERVICE TYPE', 'USER SATISFACTION',
                                                 'CONNECTION TYPE', 'USER COMMENTS', 'HEATMAP_PROJECT_AREA'])

In [ ]:
WinnipegArea_from2019_ColumnsRemoved

In [ ]:
WinnipegArea_from2019_ColumnsRemoved.isnull().sum()/len(WinnipegArea_from2019_ColumnsRemoved)*100

In [ ]:
# Creating a CSV file of the Filtered data -- Winnipeg Only, from 2019, No Totally empty columns, no daily repeated IP Address tests

WinnipegArea_2019upwards_NoBlankColumns_NoDailyTestRepeat = WinnipegArea_from2019_ColumnsRemoved

WinnipegArea_2019upwards_NoBlankColumns_NoDailyTestRepeat.to_csv('WinnipegArea_2019upwards_NoBlankColumns_NoDailyTestRepeat.csv')

In [ ]:
# Removing the rows/record that is missing a value for any field

WinnipegAreaData_from2019_NoMissingDataPoint = WinnipegArea_from2019_ColumnsRemoved 

WinnipegAreaData_from2019_NoMissingDataPoint.dropna(inplace = True)

In [ ]:
WinnipegAreaData_from2019_NoMissingDataPoint

In [ ]:
WinnipegAreaData_from2019_NoMissingDataPoint.to_csv('WinnipegAreaData_from2019_NoMissingDataPoint.csv')

In [ ]:
WinnipegAreaData_from2019_NoMissingDataPoint.shape

## For the Winnipeg Area data, extract the Area Code from Postal Code

In [ ]:
WinnipegAreaData_from2019_AreaCode = WinnipegAreaData_from2019_NoMissingDataPoint
WinnipegAreaData_from2019_AreaCode.dropna(inplace = True)

areaCode = []

for code in WinnipegAreaData_from2019_AreaCode['CLIENT POSTAL CODE']:
    aCode = code[:3]
    areaCode.append(aCode)
    
WinnipegAreaData_from2019_AreaCode["AREA CODE"] = areaCode

In [ ]:
WinnipegAreaData_from2019_AreaCode

In [ ]:
# Reset the index

WinnipegAreaData_from2019_AreaCode.reset_index(inplace=True)

# Drop the 'index' column

WinnipegAreaData_from2019_AreaCode.drop(columns = ['index'], inplace = True)

In [ ]:
WinnipegAreaData_from2019_AreaCode

In [ ]:
WinnipegAreaData_from2019_AreaCode.to_csv("WinnipegAreaData_from2019_AreaCode.csv")

In [ ]:
# At this point, We have a dataset for the Winnipeg Region from 2019 onwards.
# The dataset does not contain any missing values as shown below

WinnipegAreaData_from2019_AreaCode.isnull().sum()/len(WinnipegAreaData_from2019_AreaCode)*100

In [ ]:
WinnipegAreaData_from2019_AreaCode.groupby('ISP').YEAR.value_counts().unstack()

In [ ]:
WinnipegAreaData_from2019_AreaCode.groupby('YEAR').YEAR.value_counts().unstack()

In [ ]:
# A comparison of the total number of tests performed per IP address on a monthly basis over the years. 

WinnipegAreaData_from2019_AreaCode.groupby('YEAR').YEAR.value_counts().unstack().plot(kind='barh')

In [ ]:
WinnipegAreaData_from2019_AreaCode.columns

In [ ]:
Winnipeg1 = WinnipegAreaData_from2019_AreaCode

Winnipeg1.groupby('MONTH').YEAR.value_counts().unstack().plot(kind='bar')

In [ ]:
Winnipeg1.groupby('MONTH').YEAR.value_counts().unstack().plot(kind='line')

### Categorize the Internet Service based on Upload and Download speeds, Jitter, Latency
### and Packet Loss

In [ ]:
WinnipegArea_InternetCategory = WinnipegAreaData_from2019_AreaCode


InternetCategory = []

for value in range(len(WinnipegArea_InternetCategory)):
    if((WinnipegArea_InternetCategory.loc[value, 'DOWNLOAD SPEED'] >= 50) 
    and (WinnipegArea_InternetCategory.loc[value, 'UPLOAD SPEED'] >= 10) 
    and (WinnipegArea_InternetCategory.loc[value, 'JITTER'] <= 5) 
    and (WinnipegArea_InternetCategory.loc[value, 'LATENCY'] <= 50) 
    and (WinnipegArea_InternetCategory.loc[value, 'PACKET LOSS'] <= 0.25)):
        
        internetStatus = "High-Speed Internet"
        
    else:
        
        internetStatus = "Low-Speed Internet"
        
    InternetCategory.append(internetStatus) 
    
WinnipegArea_InternetCategory["INTERNET_CATEGORY"] = InternetCategory

In [ ]:
WinnipegArea_InternetCategory

### Extract the data for the R2W Area of Winnipeg

In [ ]:
WinnipegArea_R2W_AreaCode = WinnipegArea_InternetCategory[WinnipegArea_InternetCategory['AREA CODE'] == "R2W"]

In [ ]:
WinnipegArea_R2W_AreaCode

In [ ]:
WinnipegArea_R2W_AreaCode.reset_index(inplace = True)

In [ ]:
WinnipegArea_R2W_AreaCode.drop(columns = ['index'], inplace = True)

In [ ]:
WinnipegArea_R2W_AreaCode

In [ ]:
# Obtaining / Retrieving the data for ISP and INTERNET CATEGORY in the R2W Area of Winnipeg

WinnipegArea_R2W_AreaISPs = WinnipegArea_R2W_AreaCode[['ISP', 'INTERNET_CATEGORY']].value_counts(sort = False)

In [ ]:
WinnipegArea_R2W_AreaISPs

In [ ]:
WinnipegArea_R2W_AreaISPs = WinnipegArea_R2W_AreaCode[['ISP', 'INTERNET_CATEGORY']]

In [ ]:
WinnipegArea_R2W_AreaISPs_cross = pd.crosstab(WinnipegArea_R2W_AreaISPs.ISP, WinnipegArea_R2W_AreaISPs['INTERNET_CATEGORY'])

In [ ]:
WinnipegArea_R2W_AreaISPs_cross

In [ ]:
# Horizontal Bar chart of the Internet Category for each ISP in the R2W area of Winnipeg
# All the Number of ISPs with R2W area of Winnipeg, from 2019 and beyond.

WinnipegArea_R2W_AreaISPs_cross.plot(kind = 'barh')

In [ ]:
WinnipegArea_R2W_AreaISPs_cross["High-Speed Internet"]

In [ ]:
WinnipegArea_R2W_AreaISPs_cross["Low-Speed Internet"]