<a href="https://colab.research.google.com/github/InternetSocietyManitobaChapter/JupyterNotebook_NorthEndConnect/blob/main/StatsCanadaBaseFile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Read the North End Connect data file

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import requests

url="https://raw.githubusercontent.com/InternetSocietyManitobaChapter/JupyterNotebook_NorthEndConnect/main/Main%20Data%20in%20Focus%20(CSV).csv"
s=requests.get(url).content
northEndConnect=pd.read_csv(io.StringIO(s.decode('utf-8')))

# Display a few rows of the data to ensure the file is connected correctly

display(northEndConnect)
#display(northEndConnect.tail(10))

,POPULATION BY AGE,Point Douglas Community Area,Unnamed: 2,Unnamed: 3,CITY OF WINNIPEG
0,Age Group1,Male,Female,% of Total,% of Pop.
1,0 to 4 years,"1,655","1,350",7.40%,5.70%
2,5 to 9 years,"1,500","1,635",7.70%,5.80%
3,10 to 14 years,"1,495","1,350",7.00%,5.70%
4,15 to 19 years,"1,455","1,560",7.40%,6.20%
...,...,...,...,...,...
140,Other places of birth in Asia,35,0.90%,0.10%,0.20%
141,Other places of birth in Europe,15,0.40%,0.00%,0.10%
142,Other places of birth in Americas,20,0.50%,0.00%,0.10%
143,All other places of birth3,65,1.70%,0.20%,0.30%
144,TOTAL,"3,885",100.00%,9.50%,7.50%